

/**
 * 可以直接在视图中使用的函数（让视图中不用充斥表达式）
 * @param val
 * @returns {string|*}
 */
var sub = function(val) {
  if (val === undefined || val.length === 0) {
    return;
  }
  if (val.length > 17) {
    return val.substring(0, 15) + "...";
  } else {
    return val;
  }
};

var level = function(val) {
  return Math.round(val * 2000)
};

var block_status = function (status) {
  if (status === 0) {
    return "申诉"
  } else if (status === 1) {
    return "申诉中"
  } else if (status === 2) {
    return "已接受"
  } else if (status === 3) {
    return "已驳回"
  }
};
/**
 * 仅显示日期
 * @param val
 * @returns {string}
 */
var date = function (val) {
  return val.substring(2, 11)
};

var views = function(arr=[]) {
  return arr.filter(function (value) { return value !==''}).length
};
module.exports = {
  sub : sub,
  level: level,
  block_status: block_status,
  date: date,
  views: views
};
