flask
flask-sqlalchemy
flask-sqlacodegen
flask-debugtoolbar
mysqlclient
flask_script
requests
twilio
aliyun-python-sdk-core-v3
Flask-Caching
bs4
lxml
flask-migrate
pycrypto
uwsgi
# smart_open
# synonyms
jieba
# 以下是测试依赖
mock
coverage
